/* body {  
   background-color: lightgray
}

.bg-gray {
    background-color:lightgray;
} */

.about-me {
    font-size: 50px;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    color: white;
    text-align: center;
}

.contact-form {
    margin-left:10px;
    margin-right:10px;
}

p {
    color: black;
    font-family:georgia;
}

.port-subheader {
    font-size: 30px;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    color:white;
    text-align:center;
}

.btn-lg {
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.btn-info {
    background-color: rgb(128, 0, 100);
    border-color: black;
}
a.nav-link {
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}
.contact-header {
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;;
    font-size: 50px;
    color: white;
    text-align: center;
}

.portfolio-header {
    font-size: 50px;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    color:white;
    text-align:center;
}

h2 {
    background-color: white;
    color:white;
    font-size: 25px;
    text-align: center;
    font-family: georgia;
    font-weight: bold;
}

a {
    font-family: 'Overlock', cursive;
}

a:hover {
    color:white;
}

img {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;

}

.card-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(59, 58, 58)
    /* background-color: rgb(104, 106, 231); */
}

.github-link {
    color:  rgb(128, 0, 100);
    font-weight: bold;
    font-style: italic;
}
.github-link:hover {
    background-color: black;
}

.card-title {
    font-family: 'Overlock', cursive;
    font-weight: bold;
}

.card-text {
    font-family: 'Overlock', cursive;
}